# path:   /home/klassiker/.local/share/repos/slock/.gitignore
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/slock
# date:   2021-01-15T14:00:10+0100

/config.h
/explicit_bzero.o
/slock
/slock.o
